@charset "UTF-8";
@import "reset";
@import "fontawesome";
body {
  background-color: #FCF9F9;
}
.l-wrapper {
  max-width: 768px;
  margin: 0 auto;
  min-height: 100%;
  padding: 20px;
}

body {
  background-color: #FAF;
}

.m-block {
  padding: 5px;
  background-color: #FFF;
  margin-bottom: 10px;
}

.m-list-card {
}

.m-tag {
  ul {
    li {
      display: inline;
      border: solid 1px red;
      padding: 2px;
      color: red;
    }
  }
}

.m-flex-box {
  display: flex;
  justify-content: space-between;
  &__col6{
    background-color: aqua;
    width: 48%;
  }
}

.text-center{
  text-align: center;
}

.m-bookmark {
  margin-left: auto;
  padding-right: 5px;
}

.btn {
  text-decoration: none;
}
