@charset "UTF-8";
@import "reset";
@import "fontawesome";
body {
  background-color: #FCF9F9;
}
.l-wrapper {
  max-width: 768px;
  margin: 0 auto;
  min-height: 100%;
  padding: 40px;
}
//setting系
@mixin fs($size, $base: 16) {
  font-size: $size + px; 
  font-size: ($size / $base) + rem;
}
$color: #66A5D6;

#trigger {
  display: none;
  &:checked ~ .modal {
    display: block;
  }
}
.btn-modal-open {
  display: block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  background-color: $color;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  @include fs(18);
  margin: 0 auto;
  transition: all .3s;
  &:hover {
    background-color: red;
    transform: scale(1.5);
  }
}
.modal {
  display: none;
  
  &__overlay {
  }
  &__bg {
  }
  &__body {
  }
  &__content {
    overflow: auto;
    text-align: center;
  }
  &__close {
  }
  
}

@keyframes show{
  
}
